
<!-- ======= Mis Servicios ======= -->
<section id="servicios" class="servicios">
    <div class="container">

        <div class="section-title">
        <span>Mis Servicios</span>
        <h2>Mis Servicios</h2>
        <p> Por lo menos su trabajo
        tiene sentido. Cuando enciende el farol es como si hiciera
        nacer una estrella más, o una flor. Cuando apaga el farol,
        hace dormir a la flor o a la estrella. Es una ocupación muy
        linda. Es verdaderamente útil porque es linda.
        </p>
        </div>

        <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Buenos días. ¿Por qué acabas de apagar el farol?</a></h4>
            <p class="description">Es la consigna. (respondió el farolero) Buenos
            días.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">¿Qué es la consigna?</a></h4>
            <p class="description">Apagar el farol. Buenas noches.
            Y volvió a encenderlo.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Pero, ¿por qué acabas de encenderlo?</a></h4>
            <p class="description">Es la consigna. (respondió el farolero)</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">No comprendo. (dijo el principito)</a></h4>
            <p class="description">No hay nada que comprender. (dijo el farolero) La
            consigna es la consigna. Buenos días.
            Y apagó el farol.</p>
            </div>
        </div>

        </div>
    </div>
</section>
<!-- End Mis Servicios -->