
<!-- ======= Mis Servicios ======= -->
<section id="servicios" class="servicios">
    <div class="container">

        <div class="section-title">
        <span>Mis Servicios</span>
        <h2>Mis Servicios</h2>
        <p> En esta sección se encuentran los servicios que ofrezco, acorde a lo aprendido.
        </p>
        </div>

        <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Programadora Full Stack Jr</a></h4>
            <p class="description">Puedo realizar tareas de edición, corrección y desarrollo de páginas web, para computadora y teléfonos móviles.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Traducción de Inglés - Español - Inglés</a></h4>
            <p class="description">Traducción de sitios web, aplicaciones y textos en general, entre los idiomas inglés y español.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Masajista, masoterapeuta.</a></h4>
            <p class="description">Combinando técnicas como piedras calientes, digitopuntura, pindas, con el masaje descontracturante y relajante, puedo ayudar a mejorar el estado del cuerpo y la mente.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Reiki</a></h4>
            <p class="description">Armonización de la energía, utilizada tanto para desequilibrios físicos (dolores, lesiones, enfermedades) como mentales y espirituales.</p>
            </div>
        </div>

        </div>
    </div>
</section>
<!-- End Mis Servicios -->