<!-- ======= Sobre Mí ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>Sobre Mí</span>
        <h2>Sobre Mí</h2>
        <p>Mujer, madre, Web Dev Trainee. Estudiando, aprendiendo y buscando una mejor calidad de vida para mi familia. Amo los desafíos.</p>
      </div>

      <div class="row justify-content-between">
        <!--Img About-->
        <div class="col-lg-3 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="content ps-lg-4 d-flex flex-column justify-content-between">
            <div class="row">
              <div class="col-lg-7">
                <ul>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Nombre:</strong> <span>Mariana Paula Molina</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Website:</strong> <span>En desarrollo</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Teléfono:</strong> <span>+549 115-229-0606</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Ciudad:</strong> <span>Alta Gracia, Córdoba, Argentina</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Edad:</strong> <span>38</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Email:</strong> <span>marianapaulamolina@gmail.com</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Disponibilidad:</strong> <span>Freelance, Home office: Full Time</span></li>
                </ul>
              </div>             
            </div>
        
          </div>
        </div>
      </div>

    </div>
  </section>
<!-- End Sobre Mí -->