<!-- ======= Sobre Mí ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>Sobre Mí</span>
        <h2>Sobre Mí</h2>
        <p>Viví mucho con personas grandes. Las he visto muy de cerca. No he mejorado
          excesivamente mi opinión.</p>
      </div>

      <div class="row justify-content-between">
        <!--Img About-->
        <div class="col-lg-3 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="content ps-lg-4 d-flex flex-column justify-content-between">
            <div class="row">
              <div class="col-lg-7">
                <ul>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Nombre:</strong> <span>Mariana Paula Molina</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Website:</strong> <span>www.este-mismo.com</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Teléfono:</strong> <span>+5491152290606</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Ciudad:</strong> <span>Alta Gracia, Córdoba, Argentina</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Edad:</strong> <span>38</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Grado de estudio:</strong> <span>Master of Puppets</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Email:</strong> <span>marianapaulamolina@gmail.com</span></li>
                  <li><i class='bx bxs-chevron-right' ></i> <strong>Freelance:</strong> <span>Disponible para contratación.</span></li>
                </ul>
              </div>             
            </div>
        
          </div>
        </div>
      </div>

    </div>
  </section>
<!-- End Sobre Mí -->