<!-- ======= Header ======= -->
<header id="header" [ngClass]="{'header-transparent': !transparent}" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between my-auto">

        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="logo"
            target="_blank"><img src="assets/img/LogoAP.png" alt="LogoAP" class="img-fluid"></a>

        <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile': openMobileNav}">
            <!--NavBar Links -->
            <ul>
                <li class="nav-item scrollto" (click)="navigate('hero')" [ngClass]="{'active' : activeMenu == 'hero'}">Home</li>
                <li class="nav-item scrollto" (click)="navigate('about')" [ngClass]="{'active' : activeMenu == 'about'}">Sobre Mí</li>
                <li class="nav-item scrollto" (click)="navigate('cv')" [ngClass]="{'active' : activeMenu == 'cv'}">Currículum Vitae</li>
                <li class="nav-item scrollto" (click)="navigate('servicios')" [ngClass]="{'active' : activeMenu == 'servicios'}">Servicios</li>
            </ul>
            <button *ngIf="!isLoggedIn" class="btn btn-primary btn-sm" (click)="dialog.showModal()">Login</button>
            <button *ngIf="isLoggedIn" class="btn btn-primary btn-sm" (click)="logout()">Salir</button>
            <i class="bx bx-menu mobile-nav-toggle ms-2" [ngClass]="openMobileNav ? 'bx-x' : 'bx-menu'" (click)="openMobileNav = !openMobileNav"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<dialog (close)="isLoggedIn" #dialog>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dialog.close()"></button>
            </div>
            <div class="modal-body m-3">
              <app-loginform (loginEvent)="login($event)"></app-loginform>
            </div>
          </div>
  </dialog>