<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
     <h3>Mariana Molina</h3>
     <p>Es un gran misterio. Para vosotros, que también amáis
      al principito, como para mí, nada en el universo sigue siendo igual si en alguna parte, no se sabe dónde, un cordero
      que no conocemos ha comido, sí o no, a una rosa…
      —Mirad al cielo. Preguntad: ¿el cordero, sí o no, ha comido a la flor? Y veréis cómo todo cambia…
      ¡Y ninguna persona grande comprenderá jamás que
      tenga tanta importancia.</p>
     <div class="social-links">
      <a href="https://www.instagram.com/maru_pg/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="mailto:marianapaulamolina@gmail.com" class="gmail" target="_blank"><i class="bx bxl-gmail"></i></a>
      <a href="https://www.linkedin.com/in/marianapaulamolina/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
     </div>
     <div class="copyright">
      &copy; Copyright <strong><span>MPM</span></strong>. Todos los derechos reservados.
     </div>
     <div class="credits">
      Diseñado para <a href="#">Argentina Programa 4.0</a>
     </div>
    </div>
  </footer>
  <!-- End Footer -->