<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
     <h3>Mariana Molina</h3>
     <p>Dedicado a mis maestros y maestras, de programación, de sanación y de vida. A mi hijo, que es quien me devolvió las ganas de aprender para avanzar y así, evolucionar.</p>
     <div class="social-links">
      <a href="https://www.instagram.com/maru_pg/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="mailto:marianapaulamolina@gmail.com" class="gmail" target="_blank"><i class="bx bxl-gmail"></i></a>
      <a href="https://www.linkedin.com/in/marianapaulamolina/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
     </div>
     <div class="copyright">
      &copy; Copyright <strong><span>MPM</span></strong>. Todos los derechos reservados.
     </div>
     <div class="credits">
      Diseñado para <a href="#">Argentina Programa 4.0</a>
     </div>
    </div>
  </footer>
  <!-- End Footer -->